{{#if user}}
<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.name.full}} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/account">Account</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </li>
  </ul>
  <a href="/"><img src="/img/mysterygift.png" style="width: 40%; height: 40%;"></a>
</div>
<hr>
{{else}}
<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li><a href="/login">Sign In</a></li>
  </ul>
  <a href="/"><img src="/img/mysterygift.png" style="width: 40%; height: 40%;"></a>
</div>
<hr>
{{/if}}