<div class="container-narrow">
<div class="contact">

  <h2>Contact Us</h2>
  <p><strong>By Email:</strong> <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=support@sendmysterygift.com" target="_blank">support@sendmysterygift.com</a><br>
  <strong>By Phone:</strong> 226-220-4098<br>

  <br>
   
  <div class="row">
    <div class="span3">
      <p>
        <strong>Canadian Headquarters</strong><br>
        25 Leith Hill Road,<br>
        Suite 205<br> 
        Toronto, ON, M2J 1Z1<br>
      </p>
    </div>
  </div>
  
  <br>

<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dERpSlp6Vk5ud254LXh3dXJoMGEtVEE6MA" width="760" height="641" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

</div>
</div> <!-- /container -->

