<div class="container-narrow">
    <h2>Suppliers</h2>
    <p>If you are an supplier interested in providing bulk good to our service, please contact us at the following email regarding any questions.</p>
  <p><strong>By Email:</strong> <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=support@sendmysterygift.com" target="_blank">support@sendmysterygift.com</a><br>
</div> <!-- /container -->

